* {
    font-family: 'poppins';
}

/* .box {
    width: 85%;
    height: 100px;
    margin-left: 10px;
    padding: 10px;
} */

/* .box p {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
} */

/* .box p span {
    font-size: 20px;
    font-weight: 400;
    color: grey;
} */

/* .box-icon {
    font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: grey;
    padding-right: 10px;
} */